.q-drawer.q-drawer--left.q-drawer--bordered.q-drawer--standard.fixed.q-drawer--top-padding {
  width: 240px !important;
}

.tablas {
  padding-left: 238px !important;
}

.WAL {
  /* height: 997.2px !important; */
  height: 766.2px !important;
}

.selected-row {
  background-color: rgb(180, 234, 234);
  /* Cambia el color de fondo deseado */
}

.interno {
  padding-left: 0px !important;
}

.q-tab-panel {
  padding: 0px;
}

.formCliente {
  width: 550px;
}
